body{
    font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shizuru', cursive;
margin: 0;
}
.orange{
    color: orange;
}
h1{
    font-size: 40px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width img{
font-size: 80%;
}
.half-width p{
    font-size: 90%;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#lorem-1{
    border-left: 7px solid;
    border-image:linear-gradient(cyan,orange);
    border-image-slice: 1;
    box-shadow: 0 14px 14px 14px gray;
    margin: 15px;
    border-radius: 10px;
}
#lorem-2{
    border-left: 7px solid;
    border-image:linear-gradient(cyan,orange);
    border-image-slice: 1;
    box-shadow: 0 14px 14px 14px gray;
    margin: 15px;
    border-radius: 10px;
}  
footer{
    text-align: center;
}